---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<div>
		<h2 class="font-redaction text-2rem leading-[1.1875] max-w-[min(75rem,100%-2rem)] mx-auto flex flex-col py-1rem lg:text-3rem">
			<span class="font-bold">Bohdan Yaroslavtsev</span>
			<span>aka <span class="font-stix-two font-medium font-italic">@</span>reoseah online</span>
		</h2>
	</div>
	<div class="max-w-[min(75rem,100%-2rem)] mx-auto py-1rem grid gap-2rem lg:grid-cols-2">
		<div>Human, programmer, web developer, hobby game designer, modder, walking encyclopedia, and much-much more.
		</div>
		<ul>
			<li class="flex gap-1rem items-center">
				<a href="#">Something resembling portfolio</a>
				<span class="font-lucette text-2rem lg:text-2.375rem leading-none h-0 translate-y-[-.55em]" aria-hidden>→</span>
			</li>
			<li class="flex gap-1rem items-center">
				<a href="#">Work-in-progress 2</a>
				<span class="font-lucette text-2rem lg:text-2.375rem leading-none h-0 translate-y-[-.55em]" aria-hidden>→</span>
			</li>
			<li class="flex gap-1rem items-center">
				<a href="#">Work-in-progress 3</a>
				<span class="font-lucette text-2rem lg:text-2.375rem leading-none h-0 translate-y-[-.55em]" aria-hidden>→</span>
			</li>
		</ul>
	</div>
	<div class="max-w-[min(75rem,100%-2rem)] mx-auto py-1rem grid gap-1rem lg:grid-cols-3 lg:py-3rem">
		<img src="/assets/photo-1.jpg" alt="self-portrait with a DIY red and blue colored lens"/>
		<img src="/assets/photo-2.jpg" alt="self-portrait with a piece of cloth stretched over the camera"/>
		<img src="/assets/photo-3.jpg" alt="self-portrait with a piece of polyethylene stretched over the camera"/>
	</div>
</Layout>
