---
import "../style.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>reoseah.github.io</title>
	</head>
	<body class="bg-gray-100">
		<header>
			<h1 class="font-stix-two h-4rem max-w-[min(75rem,100%-2rem)] mx-auto text-1.25rem font-medium flex items-center lg:text-1.5rem lg:h-6rem">
				<a href="/">reoseah.github.io</a>
			</h1>
		</header>
		<main class="font-stix-two text-1.25rem font-medium lg:text-1.5rem">
			<slot />
		</main>
	</body>
</html>
